header
    a(href='#') Logo
    ul
    each item in navLinks
        li
            if item.key == section
                span #{item.label}
            else
                a(href=item.href) #{item.label}
hr
