extends layout

block content
    h1 Article heading
    h2 Section heading
    p Lorem ipsum dolor sit amet, pro et aliquid detracto offendit. Sit te dicat regione apeirian, ei nam interesset dissentiunt. Saepe lobortis accommodare pro te, cu pro graeco corpora. Cum ad virtute electram salutatus, sed ex quaeque pertinacia, in pro graeci contentiones. Qui ei doctus signiferumque, vidisse splendide ex eam.
    p Pertinacia constituam mel ei. Vix ut sale tritani oporteat. Nobis denique officiis eos no. Ius ei nulla necessitatibus, mei quis exerci meliore ne. Eam feugiat labores oporteat ne, ea enim viderer sensibus per.
    p Vim no mandamus <strong>vituperata</strong>. Sit paulo eruditi id, dicat commodo ne mei, has ea epicuri delectus. Sea an insolens convenire corrumpit, duo cu iriure gubergren urbanitas, sed ex odio mundi impedit. Hinc unum liber ex eam. Ei sumo veri populo nam, vix sadipscing theophrastus in, sit no aeque mentitum repudiandae. Mei an sint fastidii necessitatibus, cum ne affert euripidis.
    p Et per moderatius intellegam disputando, harum perfecto omittantur in quo. Id magna legimus complectitur quo. Sit discere accumsan cu, diam dolorem oporteat eam no, qui vero porro aperiri te. Harum molestie adipiscing qui ex. Assum persius euismod in vim, et prompta propriae mea. Dicant nusquam ius id, doming iisque definiebas eam et, unum errem ea ius. Sit dolores dissentiunt ad, has utinam mediocrem ea.
    p Has at omnes assentior rationibus. Nam ut elitr omittantur, cetero ponderum vel no, no est doming periculis assentior. Sit ut eirmod antiopam consetetur, clita intellegat eos at, an errem equidem nec. Congue expetenda dissentias ad per, cum in esse partiendo.
    a(href='#') A link going somewhere

    h2 Second section heading
    p Lorem ipsum dolor sit amet, cum ad oratio delectus. Elitr referrentur reprehendunt cu sea, semper antiopam mediocrem id sea, dolore aperiam no vis. An vis vivendo principes patrioque, te tota facete duo. Molestie appareat rationibus eam ut, no eam magna detracto offendit.
    p Stet suscipit epicurei mei no. Ea est iriure accusata, an enim aeterno percipitur usu, duo quando abhorreant ut. Posse saepe theophrastus ei vel. Sit euismod inciderint ei, ne doming aperiri referrentur sed, id mel scripta pertinacia.
    p Usu ex vide mundi constituam, duo eu cetero appellantur. Id sanctus graecis has, minim pertinax in duo. Legere constituam in eam, his purto virtute ea. Virtute nostrud mel et.
    p Sint vocibus ut pro. Cu saperet civibus usu, per vidit integre menandri cu. In cum ornatus officiis patrioque. Eu mel viderer assentior intellegam. Ne per discere accusamus democritum. At causae numquam erroribus eum.
    p Eam esse oporteat omittantur id, mutat reprimique at quo, qui nobis voluptaria cu. Legere scripta erroribus ut nam. Cum cu nominati assueverit. Ad invidunt ullamcorper vis. Ut vix quidam ceteros, sonet delenit mnesarchum in has. Vix enim solet eu, errem animal ei vix.
